* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

nav,
a {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 60px;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

a:hover {
    color: brown;
    text-decoration: underline;
}

img {
    width: 1280px;
    height: 500px;
    margin-top: 10px;
}

footer {
    margin-left: 10px;
    text-align: center;
}